@model Web.Models.Product

<div class="row product">
    <h3>@Model.Name</h3>
</div>

<div class="row product">
        
    <div class="col-lg-4">
        <h4 class="price">R$ @Model.Price</h4>
    </div>

    <div class="col-lg-8">
        
        <div>
            <a href="@Url.Action("AddImage", "Product", new { @Model.Id }))">Add Image</a>
        </div>
        
        <div>
            @if (Model.HasImage)
            {
                <img alt="@Model.Name" itemprop="image" src="@Model.MainImage">
            }
            else
            {
                <img alt="@Model.Name" itemprop="image" src="@Url.Content("~/Content/Images/no-image.png")">
            }
        </div>

    </div>
    
</div>